<header class="grid grid-cols-12 gap-3">
    <nav class="col-span-5 w-full">
        <ul class="flex justify-around">
            <li >
                <p class="number">01</p>
                <a href="#home"><p class=""> / / <span>Home</span></p></a>
            </li>
            <li >
                <p class="number">02</p>
                <a href="#about">
                <p class=""> / / <span>About Me</span></p>
                </a>
            </li>
            <li >
                <p class="number">03</p>
                <p class=""> / / <span>Work</span></p>
            </li>
            <li >
                <p class="number">04</p>
                <p class=""> / / <span>Recommendations</span></p>
            </li>
            <li >
                <p class="number">05</p>
                <p class=""> / / <span>Contact</span></p>
            </li>
        </ul>
    </nav>
</header>